            <div
                class="w-full relative bg-input-primary text-input-base shadow-sm overflow-hidden h-[3.5em] p-3 rounded input-ring font-cursive"
            >
                <input
                    type="text"
                    id="username"
                    name="username"
                    class="bg-transparent text-center text-lg left-0 absolute placeholder:text-white font-medium outline-0 peer w-full placeholder:text-transparent placeholder:select-none autofill:text-black"
                    placeholder="Enter your username"
                    required    
                />
                <label
                    for="username"
                    class="absolute left-0 text-lg w-full h-fit transition-[top, font, color] duration-input peer-focus:text-xs peer-no-placeholder:text-xs peer-focus:top-0 peer-no-placeholder:top-0 peer-focus:font-bold peer-no-placeholder:font-bold cursor-text"
                >
                    Enter your username
                </label>
                <span
                    class="border-white border-b-[4px] w-full absolute bottom-0 left-0"
                ></span>
                <span
                    class="border-emerald-600 border-b-[8px] peer-focus:scale-x-100 peer-no-placeholder:scale-x-100 transform left-0 scale-x-0 w-full bottom-0 absolute z-20 transition-[transform] duration-input"
                ></span>
            </div>
